---
import { ArrowRight } from '@/components/icons/ArrowRight'
---

<button class:list={['flex size-full items-center justify-between px-6']}>
  <p
    class:list={[
      'relative font-medium tracking-wider',
      "after:absolute after:left-0 after:top-1/2 after:w-0 after:content-['']",
      'after:mt-3 after:h-[1.5px] after:bg-emerald-400 after:transition-all after:duration-400',
      'group-hover:after:w-full'
    ]}
  >
    Discover more projects
  </p>
  <ArrowRight
    className='size-6 -rotate-45 transition-all duration-300 group-hover:rotate-0'
  />
</button>

<!-- <style>
  p::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 50%;
    margin: 10px 0;
    background: #fff;
    height: 1.5px;
    transition: 0.3s ease-out;
  }
</style> -->
