---
import type { InferEntrySchema } from 'astro:content'

interface Props
  extends Pick<InferEntrySchema<'projects'>, 'htmlTitle' | 'heroImage'> {}

const { htmlTitle } = Astro.props
const [mainTitle, subTitle] = htmlTitle.split(':')
---

<div class='flex items-center gap-4 rounded-xl border border-slate-800 p-5'>
  <div class='aspect-[5/4] h-full min-h-[72px] rounded-md bg-slate-600'></div>
  <div class='space-y-1'>
    <p class='font-medium'>{mainTitle}</p>
    <p class='text-sm text-slate-400/80'>
      {subTitle}
    </p>
  </div>
</div>
