---
import { ArrowRight } from '@icons/ArrowRight'

import Link from '@/components/Link'
---

<Link
  href='/projects'
  class:list={['flex size-full items-center justify-between px-6 py-6']}
>
  <p
    class:list={[
      'relative font-medium tracking-wider',
      "after:absolute after:left-0 after:top-1/2 after:w-0 after:content-['']",
      'after:mt-3 after:h-[1.5px] after:bg-emerald-400 after:transition-all after:duration-400',
      'group-hover:after:w-full'
    ]}
  >
    Discover more projects
  </p>
  <ArrowRight
    className='size-6 -rotate-45 transition-all duration-300 group-hover:rotate-0'
  />
</Link>
