---
import { Suitcase } from '@icons/Suitcase'

import { Bookmarks } from '@/components/icons/Bookmarks'
import NotificationCard from '@/components/NotificationCard.astro'

import BentoBadge from './BentoBadge'
---

<a
  href='/projects/bookmarked'
  class:list={[
    'relative flex h-full flex-col gap-3 overflow-hidden rounded-[inherit] px-5 pb-8 pt-4 tracking-wider',
    'max-xs:pb-36 md:max-lg:gap-4'
  ]}
>
  <div class='space-y-5 max-md:z-40'>
    <BentoBadge
      icon={Suitcase}
      text='Featured work'
      className={{ component: 'w-fit' }}
    />
    <div class='space-y-3 xs:max-md:w-1/2'>
      <p class='text-font-semibold text-xl leading-none'>⚡ Bookmarked</p>
      <p class='text-xs leading-relaxed text-slate-400'>
        Effortlessly save and organize your favorite tweets in Notion using a
        Telegram bot.
      </p>
    </div>
  </div>
  <div
    class:list={[
      'absolute top-[164px] self-center',
      'max-lg:top-[148px] max-xs:mt-4',
      'xs:max-md:left-[calc(50%+16px)] xs:max-md:top-16 xs:max-md:scale-110'
    ]}
  >
    <div
      class:list={[
        'relative flex flex-col items-center',
        'bookmarked-notification-card'
      ]}
    >
      <div
        class:list={[
          'absolute z-30 h-[125%] w-[125%]',
          'bg-gradient-to-t from-[#11161d]/80 to-transparent'
        ]}
      >
      </div>
      <NotificationCard
        sender='Bookmarked'
        time='20m ago'
        message='Success! Your bookmark has been saved ✅'
        class:list={[
          'z-20 text-gray-700 max-xs:w-[300px]',
          'transition-all duration-300',
          'group-hover:-translate-x-1 group-hover:-rotate-2 group-hover:scale-105',
          'hidden-notification-card'
        ]}
        ><Bookmarks className='size-6' />
      </NotificationCard>

      <NotificationCard
        sender='Bookmarked'
        time='20m ago'
        message='Bookmarking this thread...⏳'
        class:list={[
          'z-10 -mt-8 w-[88%] bg-gray-400 text-gray-800',
          'transition-all duration-500',
          'group-hover:translate-x-7 group-hover:rotate-2 group-hover:scale-105',
          'hidden-notification-card'
        ]}
        ><Bookmarks className='size-6' />
      </NotificationCard>

      <NotificationCard
        sender='Bookmarked'
        time='20m ago'
        message='Choose your bookmark type'
        class:list={[
          'z-0 -mt-10 w-[75%] bg-gray-500 text-gray-950',
          'transition-all duration-700',
          'group-hover:-mt-10 group-hover:-translate-x-4 group-hover:scale-105',
          'hidden-notification-card'
        ]}
        ><Bookmarks className='size-6' />
      </NotificationCard>
    </div>
  </div>
</a>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const hiddenNotificationCards = entry.target.querySelectorAll(
        '.hidden-notification-card'
      )
      if (entry.isIntersecting) {
        hiddenNotificationCards.forEach((notificationCard) => {
          notificationCard.classList.add('show-notification-card')
        })
      } else {
        hiddenNotificationCards.forEach((notificationCard) => {
          notificationCard.classList.remove('show-notification-card')
        })
      }
    })
  })

  const featuredWorkCard = document.querySelector(
    '.bookmarked-notification-card'
  )

  observer.observe(featuredWorkCard!)
</script>

<style>
  .hidden-notification-card {
    scale: 0;
    filter: blur(32px);
    transition-all: all 0.3s;
  }

  .show-notification-card {
    scale: 1 !important;
    filter: blur(0);
  }
</style>
