---
interface Props {
  year: string
  title: string
  description: string
}

const { year, title, description } = Astro.props
---

<div class='space-y-6'>
  <div class='h-[200px] rounded-xl bg-emerald-200'></div>
  <div class='space-y-3'>
    <p>{year}</p>
    <!-- should we use heading here? -->
    <h4 class='text-lg font-bold'>
      {title}
    </h4>
    <p class='tracking-wide text-gray-400'>
      {description}
    </p>
  </div>
</div>
