---
import Keyboard from '../_components/Keyboard.astro'
---

<section
  class='flex max-h-[1080px] flex-col gap-8 pb-32 pt-16 sm:h-screen sm:justify-center'
>
  <div
    class:list={[
      'flex w-fit items-center rounded-full',
      'gap-3 py-1.5 pl-3 pr-4',
      'border border-zinc-600/75',
      'bg-slate-950/25'
    ]}
  >
    <div class='relative size-3'>
      <div
        class='absolute size-full animate-ping rounded-full bg-green-300 opacity-65'
      >
      </div>
      <div class='drop-shadow-green size-full rounded-full bg-green-400'></div>
    </div>
    <h3 class='text-sm text-slate-200 max-xs:text-xs'>
      Available for projects
    </h3>
  </div>
  <h1
    class='text-[clamp(2rem,7vw,3rem)] font-medium leading-[1.05] -tracking-[0.045em]'
  >
    Hi, I’m Jesica. <br /> A software engineer.
  </h1>
  <h2 class='mb-8 max-w-xl leading-relaxed text-slate-400 max-sm:text-sm'>
    Mainly working in the JavaScript ecosystem, I’m a dedicated problem-solver
    who thrives on learning and building.
  </h2>
  <Keyboard />
</section>

<style is:global>
  .drop-shadow-green {
    filter: drop-shadow(0px 0px 8px #59ff7e);
  }
</style>
