---
import Keyboard from '../_components/Keyboard.astro'
---

<section class='flex flex-col gap-8 pb-32 pt-16 sm:pb-40 sm:pt-36'>
  <div
    class:list={[
      'flex w-fit items-center rounded-full',
      'gap-3 py-1.5 pl-3 pr-4',
      'border border-slate-600/75',
      'bg-slate-950/25'
    ]}
  >
    <div class='relative size-3'>
      <div
        class='absolute size-full animate-ping rounded-full bg-green-300 opacity-65'
      >
      </div>
      <div class='drop-shadow-green size-full rounded-full bg-green-400'></div>
    </div>
    <h3 class='text-sm text-slate-200 max-xs:text-xs'>
      Available for projects
    </h3>
  </div>
  <h1
    style='word-spacing: .1rem;'
    class:list={[
      'text-[clamp(1.75rem,5vw,3rem)] font-semibold leading-none tracking-[-0.04em]'
    ]}
  >
    Hi! I'm Jesica—I design and <br class='max-xs:hidden' />build with every
    keystroke
  </h1>
  <h2 class='mb-8 max-w-xl leading-relaxed text-slate-400 max-md:text-sm'>
    From Figma to TypeScript, I craft seamless web and mobile experiences as a
    software engineer, based in Jakarta, Indonesia.
  </h2>
  <Keyboard />
</section>

<style is:global>
  .drop-shadow-green {
    filter: drop-shadow(0px 0px 8px #59ff7e);
  }

  @keyframes pulse-glow {
    0%,
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.5);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 0 6px rgba(74, 222, 128, 0);
    }
  }

  .animate-pulse-glow {
    animation: pulse-glow 2s infinite;
  }

  .text-gradient {
    background: rgb(165, 238, 209);
    background: linear-gradient(
      90deg,
      rgba(165, 238, 209, 1) 0%,
      rgba(239, 255, 193, 1) 100%
    );
    background-clip: text;
  }
</style>
