---
import Keyboard from '../_components/Keyboard.astro'
---

<div class='flex flex-col gap-8 pb-32 pt-16 sm:min-h-screen sm:justify-center'>
  <div
    class:list={[
      'flex w-fit items-center rounded-full',
      'gap-3 py-1.5 pl-3 pr-4',
      'border border-zinc-600/75',
      'bg-slate-950/90'
    ]}
  >
    <div class='relative size-3'>
      <div
        class='absolute size-full animate-ping rounded-full bg-green-300 opacity-65'
      >
      </div>
      <div class='drop-shadow-green size-full rounded-full bg-green-400'></div>
    </div>
    <h3 class='text-sm max-xs:text-xs'>Available for projects</h3>
  </div>
  <h1
    class='text-[clamp(1.75rem,5vw,3rem)] font-semibold leading-[1.125] tracking-tight'
  >
    A professional typer who
    <br class='max-xs:hidden' />
    <span class='text-gradient bg-clip-text text-transparent'>
      designs & builds
    </span>
    with every keystroke
  </h1>
  <h2
    class='mb-12 max-w-3xl font-medium leading-relaxed tracking-wide text-slate-400 max-md:text-sm'
  >
    Hi! I'm Jesica, a software engineer based in Jakarta, Indonesia. I type in
    TypeScript and primarily build within the JavaScript ecosystem. I have
    experience developing applications end-to-end, both mobile and web.
  </h2>
  <Keyboard />
</div>

<style is:global>
  .drop-shadow-green {
    filter: drop-shadow(0px 0px 8px #59ff7e);
  }

  @keyframes pulse-glow {
    0%,
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.5);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 0 6px rgba(74, 222, 128, 0);
    }
  }

  .animate-pulse-glow {
    animation: pulse-glow 2s infinite;
  }

  .text-gradient {
    background: rgb(165, 238, 209);
    background: linear-gradient(
      90deg,
      rgba(165, 238, 209, 1) 0%,
      rgba(239, 255, 193, 1) 100%
    );
    background-clip: text;
  }
</style>
