---
import Keyboard from '../_components/Keyboard.astro'
---

<section
  class='flex flex-col gap-8 pb-32 pt-16 sm:min-h-screen sm:justify-center'
>
  <div
    class:list={[
      'flex w-fit items-center rounded-full',
      'gap-3 py-1.5 pl-3 pr-4',
      'border border-slate-600/75',
      'bg-slate-950/25'
    ]}
  >
    <div class='relative size-3'>
      <div
        class='absolute size-full animate-ping rounded-full bg-green-300 opacity-65'
      >
      </div>
      <div class='drop-shadow-green size-full rounded-full bg-green-400'></div>
    </div>
    <h3 class='text-sm text-slate-200 max-xs:text-xs'>
      Available for projects
    </h3>
  </div>
  <h1
    class='text-[clamp(2rem,5vw,3rem)] font-medium leading-none tracking-tight'
  >
    Hi, I'm Jesica—I design and <br class='max-xs:hidden' /> build with every keystroke
  </h1>
  <h2 class='mb-8 max-w-2xl leading-relaxed text-slate-400'>
    From Figma to TypeScript, I craft seamless web and mobile experiences as a
    software engineer, based in Jakarta, Indonesia.
  </h2>
  <Keyboard />
</section>

<style is:global>
  .drop-shadow-green {
    filter: drop-shadow(0px 0px 8px #59ff7e);
  }
</style>
