---
import { GithubOutline } from '@icons/GithubOutline'
import { Gitlab } from '@icons/Gitlab'
import { LinkedIn } from '@icons/LinkedIn'
import { Mail } from '@icons/Mail'
import { Scroll } from '@icons/Scroll'

const KEYS = [
  { key: 'KeyE', icon: GithubOutline, href: 'https://github.com/jestsee' },
  { key: 'KeyS', icon: LinkedIn, href: 'https://www.linkedin.com/in/jestsee/' },
  { key: 'KeyD', icon: Gitlab, href: 'https://gitlab.informatika.org/jestsee' },
  { key: 'KeyC', icon: Scroll, href: '#' },
  { key: 'KeyR', icon: Mail, href: '#' }
]
---

<!-- keyboard source: https://codepen.io/HaydnComley/pen/yLdpLbJ -->
<script>
  const scrollButton = document.getElementById('cta-hero-btn')
  const targetElement = document.getElementById('cards')

  // Add a click event listener to the button
  scrollButton?.addEventListener('click', function () {
    // Scroll to the target element when the button is clicked
    targetElement?.scrollIntoView({
      behavior: 'smooth',
      block: 'center'
    })
  })
  // const keyboardKeys = Array.from(document.querySelectorAll('button'))
  // const keyboardSound = document.querySelector('audio')

  // document.addEventListener('keydown', (e) => {
  //   e.preventDefault()
  //   const key = keyboardKeys.find((key) => key.dataset.key === e.code)

  //   if (key && !key.classList.contains('isDown')) {
  //     key.classList.toggle('isDown', true)
  //     if (!keyboardSound) return

  //     const newAudio = keyboardSound.cloneNode() as HTMLAudioElement
  //     keyboardSound.after(newAudio)
  //     newAudio.play()
  //     setTimeout(() => newAudio.remove(), 500)
  //   }
  // })

  // document.addEventListener('keyup', (e) => {
  //   e.preventDefault()
  //   const key = keyboardKeys.find((key) => key.dataset.key === e.code)
  //   if (key) {
  //     key.classList.toggle('isDown', false)
  //   }
  // })

  // keyboardKeys.forEach((key) =>
  //   key.addEventListener('mousedown', (e) => {
  //     e.preventDefault()
  //     if (!keyboardSound) return

  //     const newAudio = keyboardSound.cloneNode() as HTMLAudioElement
  //     keyboardSound.after(newAudio)
  //     newAudio.play()
  //     setTimeout(() => newAudio.remove(), 500)
  //   })
  // )
</script>

<div class='flex items-start text-center max-xs:flex-col'>
  <div class='board'>
    {
      KEYS.map(({ key, href, icon: Icon }) => (
        // <div data-tooltip={tooltip}>
        <a class='key-position' target='_blank' {...{ href }}>
          <button class='key' data-key={key}>
            <Icon />
          </button>
        </a>
        // </div>
      ))
    }
  </div>
  <!-- <div data-tooltip="See what I've typed"> -->
  <div class='key-position peer flex items-center justify-center'>
    <button id='cta-hero-btn' class='key call-to-action'>
      <p class='call-to-action-content'>Explore more</p>
    </button>
    <!-- </div> -->
    <div
      class:list={[
        'absolute top-0 h-full w-full translate-x-[12%] translate-y-[16%] -skew-x-12 blur-md',
        '-z-10 bg-gradient-to-tr from-[#96efcb] to-[rgba(239,_255,_193,_1)] opacity-50',
        'transition-all peer-hover:opacity-75'
      ]}
    >
    </div>
  </div>
</div>
<!-- <audio src='https://cdn.yoavik.com/codepen/mechanical-keyboard/keytype.mp3'
></audio> -->

<style>
  :root {
    --background-2: #000000;
    --background-3: #232b34;
    --contrast: #fff;
    --size: 5rem; /* keycap size */
  }

  svg {
    width: 2.25rem;
    height: 2.25rem;
  }

  @media (max-width: 640px) {
    :root {
      --size: 3rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  /* adjust value inside rotateY to adjust the direction of each keycap */
  .board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--size) * 0.02);
  }

  .key.call-to-action {
    width: 160px;
    color: rgba(239, 255, 193, 1);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
  }

  .call-to-action-content::after {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    top: 50%;
    margin: 10px 15%;
    background: rgba(239, 255, 193, 1);
    height: 1.5px;
    transition: 0.3s ease-out;
  }

  .key.call-to-action:hover .call-to-action-content::after {
    width: 70%;
  }

  .key-position {
    transform: rotateZ(0turn) rotateY(0.05turn) rotateX(-0.1turn);
  }

  .key {
    position: relative;
    width: var(--size);
    height: var(--size);
    font-size: calc(var(--size) / 2);
    border: 0.1rem solid var(--background-3);
    border-radius: calc(var(--size) * 0.2);
    background: var(--background-2);
    color: var(--contrast);
    box-shadow:
      0.15rem 0.15rem 0 0 var(--background-3),
      0.3rem 0.3rem 0 0 var(--background-3),
      0.45rem 0.45rem 0 0 var(--background-3),
      0.6rem 0.6rem 0 0 var(--background-3);
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .key:hover {
    cursor: pointer;
    transform: translateX(0.3rem) translateY(0.3rem);
    box-shadow:
      0.15rem 0.15rem 0 0 var(--background-3),
      0.3rem 0.3rem 0 0 var(--background-3),
      0.45rem 0.45rem 0 0 var(--background-3),
      0.5rem 0.5rem 0 0 var(--background-3);
  }
  .key:active,
  .key.isDown {
    cursor: grabbing;
    transform: translateX(0.8rem) translateY(0.8rem);
    box-shadow:
      0.1rem 0.1rem 0 0 var(--background-3),
      0.1rem 0.1rem 0 0 var(--background-3),
      0.2rem 0.2rem 0 0 var(--background-3),
      0.2rem 0.2rem 0 0 var(--background-3);
    filter: blur(0.02rem);
  }

  /* tooltip source: https://codepen.io/cbracco/pen/nXEQLw */
  /* Add this attribute to the element that needs a tooltip */
  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    padding: 6px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;
    z-index: 2;
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsl(0, 0%, 20%);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: ' ';
    font-size: 0;
    line-height: 0;
  }

  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
</style>
