---
import { getCollection } from 'astro:content'

import ProjectCard from '@/components/ProjectCard'
import ProjectHeader from '@/components/ProjectHeader.astro'

const projects = await getCollection('projects')
---

<section class='mt-40'>
  <div class='space-y-8'>
    <ProjectHeader />
  </div>
  <div class='mt-12 grid gap-12 sm:grid-cols-2 lg:grid-cols-3'>
    {projects.map(({ slug, data }) => <ProjectCard slug={slug} {...data} />)}
  </div>
</section>
