---
import BentoGithubActivityChart from './BentoItemGithubActivityChart'
import getGithubContributions from '@/pages/api/_services/github/contributions'

let data: any = null
try {
  data = await getGithubContributions()
} catch {
  data = null
}

Astro.response.headers.set('Cache-Control', 'public, max-age=86400')
---

{
  data ? (
    <BentoGithubActivityChart {...data} client:only='react' />
  ) : (
    // TODO: handle error
    <p>Something went wrong 😔</p>
  )
}
