---
import client from '@/lib/client'

import BentoGithubActivityChart from './BentoItemGithubActivityChart'

const response = await client.api.github.$get()
const data = response.status === 200 ? await response.json() : null
---

{
  data ? (
    <BentoGithubActivityChart {...data} client:only='react' />
  ) : (
    // TODO: handle error
    <p>Something went wrong 😔</p>
  )
}
