---
import client from '@/lib/client'

import BentoGithubActivityChart from './BentoItemGithubActivityChart'

let data: any = null
try {
  const response = await client.api.github.contributions.$get()
  data = response.ok ? await response.json() : null
} catch {}

Astro.response.headers.set('Cache-Control', 'public, max-age=86400')
---

{
  data ? (
    <BentoGithubActivityChart {...data} client:only='react' />
  ) : (
    // TODO: handle error
    <p>Something went wrong 😔</p>
  )
}
