@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
}
