@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
}

:root {
  --accent-color-1: #00df73;
  --accent-color-2: #01fedc;
  --accent-gradient-color: linear-gradient(
    90deg,
    var(--accent-color-1),
    var(--accent-color-2)
  );
}
