---
import RayLight from '@/components/Raylight'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { cn } from '@/lib/utils'

import BentoSection from './_components/BentoSection.astro'
import HeroSection from './_components/HeroSection.astro'
---

<BaseLayout>
  <RayLight
    className={cn(
      'opacity-35',
      'max-xs:-left-36 max-xs:-top-40 max-xs:opacity-45'
    )}
  />
  <RayLight className='-top-32 left-[45%]' />
  <RayLight className='left-[45%] top-[5%] h-[180px] max-xs:hidden' />
  <main>
    <HeroSection />
    <BentoSection />
  </main>
</BaseLayout>

<style>
  .leaflet-container {
    width: 100%;
    height: 100vh;
  }
</style>
