---
import Keyboard from '@/components/home/Keyboard.astro'
import TechStacks from '@/components/home/TechStacks'
import GradientText from '@/components/home/GradientText'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <div
    class='flex flex-col items-center text-center max-sm:py-16 sm:h-screen sm:justify-center'
  >
    <GradientText />
    <h1
      class='mt-8 bg-gradient-to-b from-white to-zinc-200 bg-clip-text text-[clamp(2.5rem,8vw,4.5rem)] font-medium leading-none tracking-tighter text-transparent'
    >
      Hi, I'm Jesica
      <br />
      A professional
      <span class='font-serif font-normal italic tracking-wide'>typer.</span>
    </h1>
    <p class='mt-8 max-w-lg tracking-wide text-zinc-400 max-md:text-sm'>
      I don't just press keys&mdash;I build. With every keystroke,<br
        class='max-md:hidden'
      /> I'm
      <span class='text-zinc-200'> turning concepts into reality, </span>
      crafting innovative solutions and bringing ideas to life.
    </p>
    <div class='mt-12'>
      <p
        class='mb-4 text-xs uppercase tracking-widest text-zinc-600 max-md:text-[10px]'
      >
        press any of the keys below
      </p>
      <Keyboard />
    </div>
  </div>

  <main class='h-40 text-3xl'>
    <!-- <p>I've typed with these tech stacks</p> -->
    <TechStacks />
  </main>
  <!-- footer -->
</BaseLayout>
