---
import Keyboard from '../components/3d/Keyboard'
---

<!doctype html>
<html lang='en'>
  <!-- <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head> -->
  <body class='bg-slate-950 h-full'>
    <!-- header -->
    <!-- main -->
    <main>
      <div class=''>hadeeeh</div>
      <Keyboard client:load />
    </main>
    <!-- footer -->
  </body>
</html>
