---
import BaseLayout from '@/layouts/BaseLayout.astro'
import HeroSection from '@/components/home/HeroSection.astro'
import BentoSection from '../components/home/BentoSection.astro'
---

<BaseLayout>
  <main>
    <HeroSection />
    <BentoSection />
    <!-- <div class='mt-16 space-y-4'>
      <div>
        <p class='text-orange-600'>Have typed with</p>
        <p class='text-2xl'>these tech stacks</p>
      </div>
      <TechStacks />
    </div> -->

    <!-- footer -->
  </main>
</BaseLayout>

<style>
  .leaflet-container {
    width: 100%;
    height: 100vh;
  }
</style>
