---
import BentoBadge from './bento/BentoBadge'
import BentoItemContact from './bento/BentoItemContact'
import BentoItemFeaturedWork from './bento/BentoItemFeaturedWork'
import BentoItemGithubActivity from './bento/BentoItemGithubActivity'
import BentoItemMapLocation from './bento/BentoItemMapLocation'
import BentoItemNowPlaying from './bento/BentoItemNowPlaying'
import BentoItemTechStack from './bento/BentoItemTechStack'
import BentoItemTips from './bento/BentoItemTips'
import BentoItemTypingSpeed from './bento/BentoItemTypingSpeed'

import { Bulb } from '../icons/Bulb'
import { Github } from '../icons/Github'
import { HandTap } from '../icons/HandTap'
import { Location } from '../icons/Location'
import { Monkeytype } from '../icons/Monkeytype'
import { Spotify } from '../icons/Spotify'
import { Stack } from '../icons/Stack'
import { Suitcase } from '../icons/Suitcase'
---

<div class='grid auto-rows-[minmax(0,1fr)] grid-cols-12 gap-4'>
  <div
    class='col-start-1 col-end-5 row-start-1 row-end-7 aspect-square bg-red-500'
  >
    asd
    <!-- <BentoBadge
      className={{ component: 'absolute left-4 top-4' }}
      text='Location'
      icon={Location}
    /> -->
    <!-- <BentoItemMapLocation className='rounded-3xl' client:only='react' /> -->
  </div>
  <BentoItemNowPlaying
    className='col-start-5 col-end-10 row-start-1 row-end-3'
    client:only='react'
  />
  <BentoItemTips className='col-start-10 col-end-13 row-start-1 row-end-3' />
  <BentoItemTypingSpeed
    className='col-start-5 col-end-8 row-start-3 row-end-7'
  />
  <BentoItemTechStack
    className='col-start-8 col-end-13 row-start-3 row-end-7'
  />
  <BentoItemGithubActivity
    className='col-start-1 col-end-7 row-start-7 row-end-12'
    client:only='react'
  />
  <BentoItemFeaturedWork
    className='col-start-7 col-end-10 row-start-7 row-end-12'
  />
  <BentoItemContact
    className='col-start-10 col-end-13 row-start-7 row-end-12'
  />
</div>
