---
import BentoItemMapLocation from './bento/BentoItemMapLocation'
import NowPlaying from './bento/BentoItemNowPlaying'
import TypingSpeed from './bento/BentoItemTypingSpeed'
import { Location } from '../icons/Location'
import { Spotify } from '../icons/Spotify'
import BentoBadge from './bento/BentoBadge'
import { Monkeytype } from '../icons/Monkeytype'
---

<div class='grid grid-cols-3 gap-4 max-md:grid-cols-1'>
  <div class='relative col-span-1 aspect-square'>
    <BentoBadge
      className={{ component: 'absolute left-4 top-4' }}
      text='Location'
      icon={Location}
    />
    <!-- <MapLocation className='rounded-3xl' client:only='react' /> -->
  </div>

  <div
    class='col-span-2 grid grid-cols-8 grid-rows-3 gap-4 max-md:grid-rows-none'
  >
    <div class='group relative col-span-5 row-span-1 max-md:col-span-8'>
      <BentoBadge
        icon={Spotify}
        className={{
          component: 'absolute right-3 top-3',
          icon: 'group-hover:text-green-400'
        }}
      />
      <NowPlaying client:only='react' />
    </div>

    <div class='col-span-3 row-span-1 bg-red-400 max-md:col-span-8'>tips</div>

    <div class='col-span-full row-span-2 grid grid-cols-7 gap-4'>
      <div class='relative col-span-3 max-md:col-span-7'>
        <BentoBadge
          icon={Monkeytype}
          text='Typing Speed'
          className={{
            component: 'absolute left-3 top-3',
            icon: 'group-hover:text-green-400'
          }}
        />
        <TypingSpeed client:only='react' />
      </div>
      <div class='col-span-4 bg-red-400 max-md:col-span-7'>stack</div>
    </div>
  </div>
</div>

<div class='mt-4 grid grid-cols-2 gap-4 max-md:grid-cols-1'>
  <div class='col-span-1 aspect-[2/1] bg-red-400'>github</div>
  <div class='col-span-1 grid grid-cols-7 gap-4 max-md:grid-cols-1'>
    <div class='col-span-4 bg-red-400'>work</div>
    <div class='col-span-3 bg-red-400'>contact</div>
  </div>
</div>
