---
import Keyboard from '@/components/home/Keyboard.astro'
---

<div class='flex flex-col gap-8 pb-36 pt-40'>
  <div
    class:list={[
      'flex w-fit items-center rounded-full tracking-wide',
      'gap-3 py-1.5 pl-3 pr-4',
      'border border-zinc-600/70'
    ]}
  >
    <div
      class='drop-shadow-green animate-pulse-glow size-3 rounded-full bg-green-400'
    >
    </div>
    <h3 class='text-sm max-xs:text-xs'>Available for projects</h3>
  </div>
  <h1 class='text-[clamp(1.75rem,5vw,3rem)] font-semibold leading-tight'>
    A professional typer <br />
    who builds with every <span
      class='text-gradient bg-clip-text text-transparent'
    >
      keystroke</span
    >
  </h1>
  <h2 class='max-w-3xl font-medium tracking-wide text-zinc-400 max-md:text-sm'>
    <span class='text-zinc-200'> Hi! I'm Jesica, </span>
    I don’t just press keys—<i>I build.</i>
    <!-- <br class='max-sm:hidden' /> -->
    <span class='text-zinc-200'> I turn concepts into reality, </span>
    crafting innovative solutions and bringing ideas to life through thoughtful code
    and design.
  </h2>
  <!-- <p
      class='mb-4 text-xs uppercase tracking-widest text-zinc-600 max-md:text-[10px]'
    >
      press any of the keys below
    </p> -->
  <Keyboard />
</div>

<style is:global>
  .drop-shadow-green {
    filter: drop-shadow(0px 0px 8px #59ff7e);
  }

  @keyframes pulse-glow {
    0%,
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.5);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 0 0 6px rgba(74, 222, 128, 0);
    }
  }

  .animate-pulse-glow {
    animation: pulse-glow 2s infinite;
  }

  .text-gradient {
    background: rgb(165, 238, 209);
    background: linear-gradient(
      90deg,
      rgba(165, 238, 209, 1) 0%,
      rgba(239, 255, 193, 1) 100%
    );
    background-clip: text;
  }
</style>
