---
import PortfolioCard from '@/components/PortfolioCard.astro'
import { Button } from '@/components/ui/button'
import { ArrowOutward } from '@/components/icons/ArrowOutward'
---

<div
  class:list={[
    'flex gap-16 md:justify-between',
    'max-md:flex-col-reverse max-md:items-center max-md:gap-48'
  ]}
>
  <div class='space-y-3'>
    <p class='tracking-wide text-orange-600'>Latest Work</p>
    <p class='text-[clamp(1.5rem,4.5vw,3rem)] font-medium leading-none'>
      Effortlessly Save and <br class='md:hidden' /> Organize Tweets in Notion
    </p>
    <p class='text-zinc-400'>
      Effortlessly save and organize your favorite tweets in Notion, making it
      easy to track insightful content and leverage Notion's powerful full-text
      search. Discover how I built this solution and tackled key challenges.
    </p>
    <div class='flex gap-x-4 pt-8'>
      <Button className='group transition-all hover:scale-105'>
        <ArrowOutward className='-ml-1 mr-2 size-4' />
        Read more
      </Button>
      <Button variant='outline'>See all projects</Button>
    </div>
  </div>
  <PortfolioCard />
</div>
