---
import { ArrowOutward } from './icons/ArrowOutward'
import { GithubOutline } from './icons/GithubOutline'
import { Gitlab } from './icons/Gitlab'
import { LinkedIn } from './icons/LinkedIn'
import { Mail } from './icons/Mail'
import { Scroll } from './icons/Scroll'

const SOCIAL_MEDIAS = [
  { icon: GithubOutline, href: 'https://github.com/jestsee' },
  { icon: LinkedIn, href: 'https://www.linkedin.com/in/jestsee/' },
  { icon: Gitlab, href: 'https://gitlab.informatika.org/jestsee' },
  { icon: Scroll, href: '#' },
  { icon: Mail, href: '#' }
]

type FooterContent = {
  title: string
  links: {
    text: string
    href: string
    withIcon?: boolean
  }[]
}

const FOOTER_CONTENTS: FooterContent[] = [
  {
    title: 'Me',
    links: [
      { text: 'Blog', href: '#' },
      { text: 'Credits', href: '#' },
      { text: 'Bookmarks', href: '#' }
    ]
  },
  {
    title: 'Projects',
    links: [
      { text: 'Works', href: '#' },
      { text: 'Design', href: '#' },
      { text: 'Source code', href: '#' }
    ]
  },
  {
    title: 'Elsewhere',
    links: [
      { text: 'Twitter', href: '#', withIcon: true },
      { text: 'Figma', href: '#', withIcon: true },
      { text: 'Codepen', href: '#', withIcon: true }
    ]
  }
]
---

<footer
  class='mt-32 flex items-stretch justify-between text-sm font-medium tracking-wide'
>
  <div class='space-y-16'>
    <div class='space-y-3'>
      <p class='text-lg font-medium leading-none text-slate-200'>
        王安琪 <span class='mx-[2px]'>•</span> Jesica
      </p>
      <p class='text-[13px] font-medium text-slate-500'>
        A professional typer with passion for crafting <br /> unique creations across
        the internet.
      </p>
    </div>
    <div class='space-y-4'>
      <div class='flex gap-4 text-slate-200'>
        {
          SOCIAL_MEDIAS.map(({ icon: Icon, href }) => (
            <Icon className='size-6' />
          ))
        }
      </div>
      <p class='text-xs text-slate-500'>© 2024 Jesica. All rights reserved.</p>
    </div>
  </div>
  <div class='flex flex-col justify-between'>
    <div class='flex gap-24'>
      {
        FOOTER_CONTENTS.map(({ title, links }) => (
          <div class='space-y-4'>
            <p>{title}</p>
            <div class='flex flex-col gap-2 text-slate-500'>
              {links.map(({ text, href, withIcon }) => (
                <a href={href} class='flex items-center gap-2'>
                  <span>{text}</span>
                  {withIcon && <ArrowOutward className='size-4' />}
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <p class='self-end text-xs text-slate-500'>
      Last updated by Jesica on October 3, 2024, 12:48 PM EST
    </p>
  </div>
</footer>
