---
import Image from '@/components/Image'

import Link from './Link/Link.astro'

interface Props {
  url: string
  class?: string
}

const imageUrl =
  'https://opengraph.githubassets.com/181e6c8c01edf953771d14c4d43539fa7f931c964305e47a03b652e5b76d5312/jestsee/bookmarked-api'
const favIconUrl = 'https://github.githubassets.com/favicons/favicon.svg'

const { url, class: className } = Astro.props
---

<Link
  class:list={[
    'not-prose flex h-full max-h-[144px] overflow-clip rounded-xl',
    'border border-zinc-800 bg-zinc-900',
    'max-md:flex-col-reverse',
    className
  ]}
>
  <div class='space-y-2 p-4'>
    <p
      class='line-clamp-2 text-sm font-medium leading-snug tracking-wide text-slate-50'
    >
      Vercel: Build and deploy the best web experiences with the Frontend Cloud
    </p>
    <p class='line-clamp-2 text-xs leading-normal text-slate-300'>
      Vercel's Frontend Cloud gives developers the frameworks, workflows, and
      infrastructure to build a faster, more personalized web.
    </p>
    <div class='flex gap-2 pt-1 text-xs'>
      <Image class='w-4' src={favIconUrl} alt='TODO' inferSize />
      <p class='text-slate-300/50'>https://vercel.com</p>
    </div>
  </div>
  <Image
    wrapperClass='h-full aspect-[2/1]'
    src={imageUrl}
    alt='TODO'
    inferSize
  />
  <!-- <div class='h-full bg-gray-400' style='aspect-ratio: 2/1;'>
  </div> -->
</Link>
