---
import { Suitcase } from './icons/Suitcase'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section class:list={['space-y-8', className]}>
  <div
    class='flex w-fit items-center gap-2 rounded-full bg-zinc-900 px-4 py-2 text-zinc-300'
  >
    <Suitcase />
    <h1 class='text-sm font-medium tracking-wide max-sm:text-xs'>Projects</h1>
  </div>
  <h2
    class='font-heading text-[clamp(2rem,7vw,3rem)] font-semibold leading-none'
  >
    Milestones in the <br /> learning journey
  </h2>
  <h3 class='text-zinc-400 max-md:text-sm'>
    Each project marks a step forward, showcasing my growth and journey as a
    developer. <br class='max-md:hidden' /> Explore how I’ve tackled challenges and
    built solutions along the way.
  </h3>
</section>
