---
import { Image } from 'astro:assets'

import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <h1>Bookmarked</h1>
  <!-- <Image
    src={bookmarkedImage}
    alt='Bookmarked Notion page'
    decoding='async'
    loading='lazy'
    transition:name='ass'
  /> -->
</BaseLayout>
