---
import { Image } from 'astro:assets'

import BaseLayout from '@/layouts/BaseLayout.astro'

import bookmarkedImage from '../../assets/bookmarked-notion.jpeg'
---

<BaseLayout>
  <h1>Bookmarked</h1>
  <Image
    src={bookmarkedImage}
    alt='Bookmarked Notion page'
    decoding='async'
    loading='lazy'
  />
</BaseLayout>
