---
import { getCollection } from 'astro:content'

import ProjectCard from '@/components/ProjectCard'
import ProjectHeader from '@/components/ProjectHeader.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCustomTransition } from '@/lib/customTransition'

const projects = await getCollection('projects')
---

<BaseLayout>
  <ProjectHeader class='mt-16 sm:mt-20' />
  <section
    class='mt-12 grid gap-12 sm:grid-cols-2 lg:grid-cols-3'
    transition:animate={getCustomTransition(0.3)}
  >
    {projects.map(({ slug, data }) => <ProjectCard slug={slug} {...data} />)}
  </section>
</BaseLayout>
