---
import { ArrowOutward } from '@icons/ArrowOutward'
import { GithubOutline } from '@icons/GithubOutline'
import { Gitlab } from '@icons/Gitlab'
import { LinkedIn } from '@icons/LinkedIn'
import { Mail } from '@icons/Mail'
import { Scroll } from '@icons/Scroll'

import Link from '@/components/Link'

import LastUpdatedTime from './LastUpdatedTime.astro'

const SOCIAL_MEDIAS = [
  { icon: GithubOutline, href: 'https://github.com/jestsee' },
  { icon: LinkedIn, href: 'https://www.linkedin.com/in/jestsee/' },
  // { icon: Gitlab, href: 'https://gitlab.informatika.org/jestsee' },
  { icon: Scroll, href: '#' },
  { icon: Mail, href: '#' }
]

type FooterContent = {
  title: string
  links: {
    text: string
    href: string
    withIcon?: boolean
  }[]
}

const FOOTER_CONTENTS: FooterContent[] = [
  {
    title: 'Me',
    links: [
      { text: 'Blog', href: '#' },
      { text: 'Projects', href: '/projects' },
      { text: 'Bookmarks', href: '#' }
    ]
  },
  {
    title: 'This site',
    links: [
      { text: 'Credits', href: '#' },
      { text: 'Design', href: '#' },
      { text: 'Source code', href: '#' }
    ]
  },
  {
    title: 'Elsewhere',
    links: [
      { text: 'Twitter', href: '#', withIcon: true },
      { text: 'Figma', href: '#', withIcon: true },
      { text: 'Codepen', href: '#', withIcon: true }
    ]
  }
]
---

<footer class='relative mt-auto w-full'>
  <div
    class:list={[
      '-z-10 h-48 w-3/5 opacity-25 blur-[160px]',
      'absolute left-1/2 top-0 -translate-x-1/2 xs:top-24'
    ]}
  >
  </div>

  <!-- separator -->
  <div
    class:list={[
      'h-[1px] w-full',
      'bg-gradient-to-r from-zinc-800/25 via-zinc-800/75 to-zinc-800/25'
    ]}
  >
  </div>

  <!-- footer content -->
  <div class='flex justify-center bg-zinc-950 pb-16 pt-20 max-[960px]:pb-8'>
    <div
      class:list={[
        'flex items-stretch justify-between text-sm tracking-wide',
        'w-full px-12 max-sm:px-4 min-[1200px]:w-[1200px]',
        'gap-16 max-[960px]:flex-col-reverse'
      ]}
    >
      <div class='space-y-24'>
        <div class='space-y-3'>
          <p class='text-lg leading-none text-zinc-200'>
            <span class='tracking-widest'> 王安琪 </span>
            <span class='mx-[2px]'>•</span> Jesica
          </p>
          <p class='text-[13px] text-zinc-500'>
            A dedicated problem-solver who thrives <br /> on learning and building.
          </p>
        </div>
        <div class='space-y-6'>
          <div class='flex gap-3 text-zinc-200'>
            {
              SOCIAL_MEDIAS.map(({ icon: Icon, href }) => (
                <Link href={href} target='_blank' aria-label='Social media'>
                  <Icon className='size-5' />
                </Link>
              ))
            }
          </div>
          <p class='text-xs text-zinc-600'>
            © 2024 Jesica. All rights reserved.
          </p>
        </div>
      </div>

      <div
        class:list={[
          'flex flex-col justify-between max-xs:gap-16',
          'max-[960px]:flex-col-reverse max-[960px]:gap-12',
          'text-zinc-200'
        ]}
      >
        <div
          class='grid grid-cols-3 gap-y-16 max-[960px]:max-w-[480px] max-xs:grid-cols-2 sm:gap-24'
        >
          {
            FOOTER_CONTENTS.map(({ title, links }) => (
              <div class='space-y-4'>
                <p class='text-zinc-200'>{title}</p>
                <ul class='flex flex-col gap-3 text-zinc-400'>
                  {links.map(({ text, href, withIcon }) => (
                    <li>
                      <Link
                        href={href}
                        class='flex items-center gap-1 font-normal hover:text-zinc-200'
                      >
                        <span>{text}</span>
                        {withIcon && <ArrowOutward className='size-3.5' />}
                      </Link>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
        <LastUpdatedTime class='text-zinc-600' />
      </div>
    </div>
  </div>
</footer>
