---
import { ArrowOutward } from '@icons/ArrowOutward'
import { GithubOutline } from '@icons/GithubOutline'
import { Gitlab } from '@icons/Gitlab'
import { LinkedIn } from '@icons/LinkedIn'
import { Mail } from '@icons/Mail'
import { Scroll } from '@icons/Scroll'

const SOCIAL_MEDIAS = [
  { icon: GithubOutline, href: 'https://github.com/jestsee' },
  { icon: LinkedIn, href: 'https://www.linkedin.com/in/jestsee/' },
  { icon: Gitlab, href: 'https://gitlab.informatika.org/jestsee' },
  { icon: Scroll, href: '#' },
  { icon: Mail, href: '#' }
]

type FooterContent = {
  title: string
  links: {
    text: string
    href: string
    withIcon?: boolean
  }[]
}

const FOOTER_CONTENTS: FooterContent[] = [
  {
    title: 'Me',
    links: [
      { text: 'Blog', href: '#' },
      { text: 'Credits', href: '#' },
      { text: 'Bookmarks', href: '#' }
    ]
  },
  {
    title: 'Projects',
    links: [
      { text: 'Works', href: '#' },
      { text: 'Design', href: '#' },
      { text: 'Source code', href: '#' }
    ]
  },
  {
    title: 'Elsewhere',
    links: [
      { text: 'Twitter', href: '#', withIcon: true },
      { text: 'Figma', href: '#', withIcon: true },
      { text: 'Codepen', href: '#', withIcon: true }
    ]
  }
]
---

<footer class='relative'>
  <div
    class:list={[
      'footer-radial-gradient -z-10 h-48 w-3/5 opacity-60 blur-[160px]',
      'absolute left-1/2 top-0 -translate-x-1/2 xs:top-24'
    ]}
  >
  </div>

  <!-- separator -->
  <div
    class:list={[
      'h-[1px] w-full',
      'bg-gradient-to-r from-[rgba(46,62,84,0.15)] via-[rgba(46,62,84,0.75)] to-[rgba(46,62,84,0.15)]'
    ]}
  >
  </div>

  <!-- footer content -->
  <div class='flex justify-center bg-zinc-950 pb-12 pt-20 max-[960px]:pb-8'>
    <div
      class:list={[
        'flex items-stretch justify-between text-sm font-medium tracking-wide',
        'w-full px-12 max-sm:px-4 min-[1200px]:w-[1200px]',
        'gap-16 max-[960px]:flex-col-reverse'
      ]}
    >
      <div class='space-y-16'>
        <div class='space-y-3'>
          <p class='text-lg leading-none text-slate-200'>
            <span class='tracking-widest'> 王安琪 </span>
            <span class='mx-[2px]'>•</span> Jesica
          </p>
          <p class='text-[13px] text-slate-400'>
            A professional typer with passion for crafting <br /> unique creations
            across the internet.
          </p>
        </div>
        <div class='space-y-6'>
          <div class='flex gap-4 text-slate-200'>
            {
              SOCIAL_MEDIAS.map(({ icon: Icon, href }) => (
                <a href={href} target='_blank'>
                  <Icon className='size-6' />
                </a>
              ))
            }
          </div>
          <p class='text-xs text-slate-500'>
            © 2024 Jesica. All rights reserved.
          </p>
        </div>
      </div>

      <div
        class:list={[
          'flex flex-col justify-between max-xs:gap-16',
          'max-[960px]:flex-col-reverse max-[960px]:gap-12'
        ]}
      >
        <div
          class='grid grid-cols-3 gap-y-16 max-[960px]:max-w-[480px] max-xs:grid-cols-2 sm:gap-24'
        >
          {
            FOOTER_CONTENTS.map(({ title, links }) => (
              <div class='space-y-4'>
                <p class='text-slate-200'>{title}</p>
                <ul class='flex flex-col gap-3 text-slate-400'>
                  {links.map(({ text, href, withIcon }) => (
                    <li>
                      <a
                        href={href}
                        class='flex items-center gap-2 font-normal'
                      >
                        <span>{text}</span>
                        {withIcon && <ArrowOutward className='size-4' />}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
        <p class='text-xs text-slate-500 min-[961px]:self-end'>
          Last updated by Jesica <br class='xs:hidden' /> on October 3, 2024, 12:48
          PM EST
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer-radial-gradient {
    background-color: hsla(216, 57%, 45%, 0.5);
    background-image: radial-gradient(
      ellipse farthest-side at center,
      hsl(112, 57%, 69%) 0%,
      hsla(216, 57%, 45%, 0.5) 100%
    );
  }
</style>
