---
import client from '@/lib/client'
import { formatDateByTimeZone } from '@/lib/utils'

const response = await client.api['last-updated'].$get()
const data = response.status === 200 ? await response.json() : null

if (!data) return

const date = new Date(data.pushedAt)

const formattedDate = formatDateByTimeZone(date)
---

{
  data ? (
    <p class='text-xs text-slate-500 min-[961px]:self-end'>
      Last updated by Jesica <br class='xs:hidden' /> on {formattedDate} UTC+7
    </p>
  ) : (
    // TODO: handle error
    <p>Something went wrong 😔</p>
  )
}
