---
import { formatDateByTimeZone } from '@/lib/utils'
import getLastUpdatedTime from '@/pages/api/_services/github/repoInfo'

interface Props {
  class?: string
}

let data = null
try {
  data = await getLastUpdatedTime('ritikvirus', 'ritikvirus-portfolio')
} catch {}

const date = new Date((data as any).pushedAt)

const formattedDate = formatDateByTimeZone(date)

const { class: className } = Astro.props
---
{data ? (
  <p class:list={['text-xs min-[961px]:self-end', className]}>
    Last updated by Ritik <br class='xs:hidden' /> on {formattedDate} UTC+7
  </p>
) : null}
