---
import {
  getImage,
  Image as AstroImage,
  type LocalImageProps,
  type RemoteImageProps
} from 'astro:assets'

type Props = LocalImageProps | RemoteImageProps

const { class: className, ...rest } = Astro.props

const blurryImage = await getImage({
  src: rest.src,
  width: 20
})
---

<div
  style={`background-image: url(${blurryImage.src});`}
  class:list={['blur-load bg-cover bg-center']}
>
  <AstroImage
    class:list={['object-cover object-center', className]}
    {...rest}
  />
</div>
