---
import '@fontsource-variable/dm-sans'
import '@fontsource-variable/familjen-grotesk'
import SideLine from '@components/SideLine.astro'
---

<!doctype html>
<html lang='en'>
  <!-- TODO: head -->
  <body
    class='overflow-x-hidden bg-zinc-950 text-white xl:flex xl:items-center xl:justify-center'
  >
    <slot name='no-padding-content' />
    <div class='xl:w-[1200px]'>
      <div class='px-12 py-36 transition-all max-sm:px-4 md:px-24'>
        <slot />
      </div>
    </div>
    <SideLine />
  </body>
  <!-- TODO: footer -->
</html>
