---
import '@fontsource-variable/dm-sans'
import '@fontsource-variable/familjen-grotesk'
---

<!doctype html>
<html lang='en'>
  <!-- TODO -->
  <!-- <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head> -->
  <body
    class='bg-zinc-950 px-12 py-40 text-white transition-all max-lg:px-4 xl:flex xl:items-center xl:justify-center'
  >
    <div class='xl:w-[1200px]'>
      <slot />
    </div>
  </body>
</html>
