---
import { ViewTransitions } from 'astro:transitions'

import BaseHead from '@/components/BaseHead.astro'
import BottomNavigationBar from '@/components/BottomNavigationBar'
import Footer from '@/components/Footer'
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <BaseHead title='Jesica' description='description' />
    <ViewTransitions />
  </head>
  <body class='bg-zinc-950 text-white'>
    <div class='relative flex flex-col items-center overflow-x-hidden'>
      <div
        class='w-full px-12 pb-48 transition-all max-sm:px-4 min-[1200px]:w-[1200px]'
      >
        <slot />
      </div>
    </div>
    <Footer />
    <BottomNavigationBar client:only='react' transition:persist='navbar' />
  </body><!-- TODO: footer -->
</html>

<style is:global>
  .blur-load {
    filter: blur(24px);
    transition: filter 500ms ease-in-out;
  }

  .blur-load.image-loaded {
    filter: blur(0);
  }

  .blur-load.image-loaded > img {
    opacity: 1;
  }

  .blur-load > img {
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const blurDivs = document.querySelectorAll('.blur-load')
    blurDivs.forEach((div) => {
      const image = div.querySelector('img')

      function handleLoadedImage() {
        div.classList.add('image-loaded')
      }

      if (image?.complete) {
        handleLoadedImage()
      } else {
        image?.addEventListener('load', handleLoadedImage)
      }
    })
  })
</script>
