---
import '@fontsource-variable/dm-sans'
import '@fontsource-variable/familjen-grotesk'
---

<!doctype html>
<html lang='en'>
  <!-- TODO -->
  <!-- <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head> -->

  <body class='bg-slate-950 text-white'>
    <slot />
  </body>
</html>
