---
import { ViewTransitions } from 'astro:transitions'

import BaseHead from '@/components/BaseHead.astro'
import BottomNavigationBar from '@/components/BottomNavigationBar'
import Footer from '@/components/Footer'

interface Props {
  class?: string
  title?: string // TODO: make it required instead of optional
  description?: string
}

const { class: className, title, description } = Astro.props
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <BaseHead
      title={`${title ?? 'Jesica'} | jestsee.com`}
      description='description'
    />
    <ViewTransitions />
  </head>
  <body class='flex flex-col items-center bg-gray-950 text-white'>
    <slot name='decorator' />
    <main
      class:list={[
        'w-full px-12 pb-48 transition-all max-sm:px-4 min-[1200px]:w-[1200px]',
        className
      ]}
    >
      <slot />
    </main>
    <Footer />
    <BottomNavigationBar client:only='react' transition:persist='navbar' />
  </body>
</html>

<script>
  const scrollOptions: ScrollIntoViewOptions = {
    behavior: 'smooth',
    block: 'start'
  }

  document.addEventListener('astro:page-load', () => {
    // handle hash on initial load
    if (window.location.hash) {
      window.scrollTo({ top: 0, behavior: 'instant' })

      const targetId = window.location.hash.substring(1)
      const targetElement = document.getElementById(targetId)
      targetElement?.scrollIntoView(scrollOptions)
    }

    // handle in page navigation
    document.querySelectorAll('a[href^="#"]').forEach((link) => {
      link.addEventListener('click', (event) => {
        event.preventDefault()

        const targetId = (event.currentTarget as HTMLAnchorElement)
          .getAttribute('href')
          ?.substring(1) // Get ID without '#'

        if (!targetId) return

        const targetElement = document.getElementById(targetId)
        targetElement?.scrollIntoView(scrollOptions)

        // Manually update the URL hash without triggering the default jump
        history.pushState(null, '', `#${targetId}`)
      })
    })

    window.addEventListener('hashchange', () => {
      const targetId = window.location.hash.substring(1)
      const targetElement = document.getElementById(targetId)

      targetElement?.scrollIntoView(scrollOptions)
    })
  })
</script>
