---
import { ViewTransitions } from 'astro:transitions'

import BaseHead from '@/components/BaseHead.astro'
import BottomNavigationBar from '@/components/BottomNavigationBar'
import Footer from '@/components/Footer'

interface Props {
  class?: string
  title?: string // TODO: make it required instead of optional
  description?: string
}

const { class: className, title, description } = Astro.props
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <BaseHead
      title={`${title ?? 'Jesica'} | jestsee.com`}
      description='description'
    />
    <ViewTransitions />
  </head>
  <body class='flex flex-col items-center bg-gray-950 text-white'>
    <slot name='decorator' />
    <main
      class:list={[
        'w-full px-12 pb-48 transition-all max-sm:px-4 min-[1200px]:w-[1200px]',
        className
      ]}
    >
      <slot />
    </main>
    <Footer />
    <BottomNavigationBar client:only='react' transition:persist='navbar' />
  </body>
</html>
