---
import '@fontsource-variable/dm-sans'
import '@fontsource/instrument-serif'
import BaseHead from '@/components/BaseHead.astro'
import BottomNavigationBar from '@/components/BottomNavigationBar'
import { ViewTransitions } from 'astro:transitions'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title='Jesica' description='description' />
    <ViewTransitions />
  </head>
  <body class='flex flex-col items-center bg-zinc-950 text-white'>
    <div class='px-24 transition-all max-xl:w-full max-md:px-12 max-sm:px-4'>
      <div class='xl:w-[1024px]'>
        <slot />
      </div>
    </div>
    <BottomNavigationBar client:load transition:persist='navbar' />
  </body><!-- TODO: footer -->
</html>
