---
import '@fontsource-variable/dm-sans'
import '@fontsource/instrument-serif'
import BaseHead from '@/components/BaseHead.astro'
import BottomNavigationBar from '@/components/BottomNavigationBar'
import { ViewTransitions } from 'astro:transitions'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title='Jesica' description='description' />
    <ViewTransitions />
  </head>
  <body class='bg-zinc-950 text-white'>
    <div class='relative flex flex-col items-center overflow-x-hidden'>
      <div class='custom:w-[1120px] w-full px-12 transition-all max-sm:px-4'>
        <slot />
      </div>
    </div>
    <BottomNavigationBar client:load transition:persist='navbar' />
  </body><!-- TODO: footer -->
</html>
