---
import type { InferEntrySchema } from 'astro:content'

interface Props
  extends Pick<InferEntrySchema<'projects'>, 'title' | 'heroImage'> {}

const { heroImage, title } = Astro.props
const [mainTitle, titleDescription] = title.split(':')
---

<div class='flex items-center gap-4 rounded-xl border border-slate-800 p-5'>
  <div class='aspect-[5/4] h-full min-h-[72px] rounded-md bg-gray-600'></div>
  <div class='space-y-1'>
    <p class='font-medium'>{mainTitle}</p>
    <p class='text-sm text-slate-400/80'>
      {titleDescription.replace('\\n', ' ')}
    </p>
  </div>
</div>
